DB_NAME=railway
DB_USER=postgres
DB_PASSWORD=fiYYvFYyAHnOxhuGpKqRwKJquBMlwGrZ
DB_HOST=gondola.proxy.rlwy.net
DB_PORT=30484

# las variable de entorno son la mismas variable que se les paso en chat de te
